<%- include('partials/header.ejs'); -%>

<section>
  <nav>
    <div class="searchBar">
      <div>
        <input
          placeholder="Search for goals"
          aria-label="Search"
          oninput="goalSearch()"
          id="searchBox"
        />
        <button onclick="goalSearch()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="filter">
        <label for="filtertime">Filter by timefram:</label>
        <select id="filtertime" onchange="goalTimeFilter()">
          <option value="All">All</option>
          <option value="Annual">Annual Goals</option>
          <option value="Quarterly">Quarterly Goals</option>
          <option value="Monthly">Monthly Goals</option>
          <option value="Weekly">Weekly Goals</option>
          <option value="Daily">Daily Goals</option>
        </select>
      </div>
      <div class="filter">
        <label for="filterpriority">Filter by priority:</label>
        <select id="filterpriority" onchange="goalPriorityFilter()">
          <option value="All">All</option>
          <option value="Urgent">Urgent</option>
          <option value="Critical">Critical</option>
          <option value="High">High</option>
          <option value="Normal">Normal</option>
          <option value="Low">Low</option>
        </select>
      </div>
      <div class="filter">
        <label for="filterprogress">Filter by Progress:</label>
        <select id="filterprogress" onchange="goalProgressFilter()">
          <option value="All">All</option>
          <option value="notYetBegun">Not Yet Begun</option>
          <option value="inProgress">In Progress</option>
          <option value="onHold">On Hold</option>
          <option value="done">Done</option>
        </select>
      </div>
    </div>
  </nav>
  <form action="/add" method="post">
    <h2>Set Your Goals</h2>
    <ul>
      <li>
        <label for="goalTitle">Goal Title:</label>
        <input type="text" id="goalTitle" placeholder="Enter goal title" name="goalTitle" required/>
      </li>
      <li>
        <label for="goalDescription">Goal Description:</label>
        <textarea
          id="goalDescription"
          placeholder="Enter goal description"
          name="goalDesc"
        ></textarea>
      </li>
      <li>
        <label for="goalType">Goal Type:</label>
        <select id="goalType" name="goalTime">
          <option value="Annual" selected>Annual</option>
          <option value="Quarterly">Quarterly</option>
          <option value="Monthly">Monthly</option>
          <option value="Weekly">Weekly</option>
          <option value="Daily">Daily</option>
        </select>
      </li>
      <li>
        <label for="goalPriority">Goal priority:</label>
        <select id="goalPriority" name="goalPriority">
          <option value="Urgent">Urgent</option>
          <option value="Critical">Critical</option>
          <option value="High" selected>High</option>
          <option value="Normal">Normal</option>
          <option value="Low">Low</option>
        </select>
      </li>
      <li>
        <button type="submit" > 
          <i class="fa-solid fa-plus"></i>
        </button>
      </li>
    </ul>
  </form>
</section>
<section>
  <main>
  <h2>Your Goals</h2>
  <ul id="goalList">
  <% goalItems.forEach((goal)=>{%>

    <li id ="goal<%=goal.id%>" class=<%= goal.time %> style="display: list-item;">
      <h3 onclick="parentVisibility('<%=goal.id%>');"><%= goal.title %></h3>
      <div class="goalTime"><%= goal.time %></div>
      <div class="priority"><%= goal.priority %></div>
      <form action="/updateprogress/<%= goal.id %>" method="post">
      <label style="display: inline;" for=<%= "progress" + goal.id %> >Goal Progress</label>
      <select 
      class="progress" 
      id=<%= "progress" + goal.id %> 
      onchange="this.form.submit()" 
      name="goalProgress">
      <option value="notYetBegun" <%= goal.progress === 'notYetBegun' ? 'selected' : '' %>>Not Yet Begun</option>
      <option value="inProgress" <%= goal.progress === 'inProgress' ? 'selected' : '' %>>In Progress</option>
      <option value="onHold" <%= goal.progress === 'onHold' ? 'selected' : '' %>>On Hold</option>
      <option value="done" <%= goal.progress === 'done' ? 'selected' : '' %>>Done</option>
    </select>
  </form>
  <br>
  <span class="description" style="display: block;"><%= goal.description %></span>
  <form action="/breakdown" method="post" class="breakdownForm" style="display: inline;">
    <input placeholder="Breakdown your goal" id=<%= "breakdown" + goal.id %> name="childTitle">
    <select id="goalType" name="childTime">
      <option value="Annual" selected="">Annual</option>
      <option value="Quarterly">Quarterly</option>
      <option value="Monthly">Monthly</option>
      <option value="Weekly">Weekly</option>
      <option value="Daily">Daily</option>
    </select>
    <select id=<%= "priority" + goal.id %> name="childPriority">
      <option value="Urgent">Urgent</option>
      <option value="Critical">Critical</option>
      <option value="High" selected="">High</option>
      <option value="Normal">Normal</option>
      <option value="Low">Low</option>
    </select>
    <button id=<%= goal.id %> ><i class="fa-solid fa-plus"></i></button>
    <input value="<%= goal.id %>" name="parentId" hidden>
  </form>
    <br>
    <form action="/delete" method="post">
    <button class="modifyGoal" value=<%= goal.id %> name=deleteItemId><i class="fas fa-trash-can"></i></button>
    </form>
    <button id="edit<%=goal.id%>" class="modifyGoal" onclick="editGoal('<%=goal.id%>');"><i class="fa-solid fa-pen"></i></button>
    <%let existingChildTimes=[]  %>
    <div class="childGoals" style="display: contents;">
<% childItems.forEach((childGoal)=>{%>
  <% if (goal.id===childGoal.parent_goal_id) {%>
  <% if (!existingChildTimes.includes(childGoal.time)) {%>
    <%existingChildTimes.push(childGoal.time)  %>
  <div id="<%=childGoal.time%><%=goal.id%>" style="display: block;">
  <h4 style="display: block;"><%=childGoal.time%> Goals</h4>
  <ul id="<%=childGoal.time%>List<%=goal.id%>">
  <% childItems.forEach((childGoal2)=>{%>
  <% if (goal.id===childGoal2.parent_goal_id) {%>
    <% if (childGoal.time===childGoal2.time) {%>
    <li style="display: list-item;" id="childGoal<%=childGoal2.id%>">
      <span class="childValue"><%=childGoal2.title%></span>
    <span class="priority"><%=childGoal2.priority%></span>
<form action="/updatechildprogress/<%= childGoal2.id %>" method="post">
<select class="progress" name="childProgress" onchange="this.form.submit()">
  <option value="notYetBegun" <%= childGoal2.progress === 'notYetBegun' ? 'selected' : '' %>>Not Yet Begun</option>
  <option value="inProgress" <%= childGoal2.progress === 'inProgress' ? 'selected' : '' %>>In Progress</option>
  <option value="onHold" <%= childGoal2.progress === 'onHold' ? 'selected' : '' %>>On Hold</option>
  <option value="done" <%= childGoal2.progress === 'done' ? 'selected' : '' %>>Done</option>
</select>
</form>
<form action="/deleteChildGoal" method="post">
<button value=<%= childGoal.id %> name=deleteItemId><i class="fas fa-trash-can"></i></button>
</form>
<button id="edit<%=childGoal2.id%>" class="modifyGoal" onclick="editChildGoal('<%=childGoal2.id%>');"><i class="fa-solid fa-pen"></i></button>
</li>  
<% } %>
<% } %>
<% }) %>
</ul>
</div>
<% } %>
<% } %>
<% }) %>
</div>
  </li>
  
  <% }) %>
  </ul>
  
</main>
</section>
<script src="/index.js" charset="UTF-8"></script>
<script>
let priorityFilteredOut = []; //to allow filters to work simultaneously
let timeFilteredOut = [];
let progressFilteredOut = [];
let filteredOutAll = [];
</script>
<%- include('partials/footer.ejs'); -%>